In [2]:
import numpy as np
import pandas as pd
from model import LinearRegression

In [3]:
df = pd.read_csv('./data/insurance.csv')

# sex
sex_dummies = pd.get_dummies(df['sex'])
df = pd.concat([df, sex_dummies], axis=1)
df = df.drop(['sex'], axis=1)

# smoker
smoker_dummies = pd.get_dummies(df['smoker'])
df = pd.concat([df, smoker_dummies], axis=1)
df = df.drop(['smoker'], axis=1)

# region
region_dummies = pd.get_dummies(df['region'])
df = pd.concat([df, region_dummies], axis=1)
df = df.drop(['region'], axis=1)

df = df.drop(columns=df.columns[0])
df

,bmi,children,charges,female,male,no,yes,northeast,northwest,southeast,southwest
0,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,28.880,0,3866.85520,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1333,30.970,3,10600.54830,0,1,1,0,0,1,0,0
1334,31.920,0,2205.98080,1,0,1,0,1,0,0,0
1335,36.850,0,1629.83350,1,0,1,0,0,0,1,0
1336,25.800,0,2007.94500,1,0,1,0,0,0,0,1
1337,29.070,0,29141.36030,1,0,0,1,0,1,0,0

In [4]:
df = df.sample(frac=1).reset_index(drop=True)
df

,bmi,children,charges,female,male,no,yes,northeast,northwest,southeast,southwest
0,42.350,3,46151.12450,0,1,0,1,0,0,1,0
1,32.670,0,2497.03830,0,1,1,0,0,0,1,0
2,28.880,1,9249.49520,1,0,1,0,0,1,0,0
3,21.755,1,16657.71745,1,0,0,1,1,0,0,0
4,24.400,3,18259.21600,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
1333,39.160,1,14418.28040,0,1,1,0,0,0,1,0
1334,30.875,3,6796.86325,0,1,1,0,0,1,0,0
1335,31.400,0,34838.87300,1,0,0,1,0,0,0,1
1336,32.300,1,8062.76400,0,1,1,0,0,0,0,1
1337,29.920,0,13457.96080,1,0,1,0,0,0,1,0

In [5]:
X = df.drop(['charges'], axis=1)
X

,bmi,children,female,male,no,yes,northeast,northwest,southeast,southwest
0,42.350,3,0,1,0,1,0,0,1,0
1,32.670,0,0,1,1,0,0,0,1,0
2,28.880,1,1,0,1,0,0,1,0,0
3,21.755,1,1,0,0,1,1,0,0,0
4,24.400,3,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
1333,39.160,1,0,1,1,0,0,0,1,0
1334,30.875,3,0,1,1,0,0,1,0,0
1335,31.400,0,1,0,0,1,0,0,0,1
1336,32.300,1,0,1,1,0,0,0,0,1
1337,29.920,0,1,0,1,0,0,0,1,0

In [6]:
y = df[['charges']]
y

          charges
0     46151.12450
1      2497.03830
2      9249.49520
3     16657.71745
4     18259.21600
...           ...
1333  14418.28040
1334   6796.86325
1335  34838.87300
1336   8062.76400
1337  13457.96080

[1338 rows x 1 columns]

In [7]:
X.to_csv('./data/preprocessed_X.csv', index=False)
y.to_csv('./data/preprocessed_y.csv', index=False)

In [8]:
X = open('./data/preprocessed_X.csv', 'r').readlines()
y = open('./data/preprocessed_y.csv', 'r').readlines()

In [9]:
# reserve 20% for testing, split the rest into 4 parts
num_rows = len(X)
test_data_size = (num_rows - 1) // 5
open('./data/test_X.csv', 'w+').writelines(X[1:test_data_size+1])
open('./data/test_y.csv', 'w+').writelines(y[1:test_data_size+1])

In [11]:
filename = 0
train_data_size=(num_rows-test_data_size-1)//4
for i in range(test_data_size+1, num_rows, train_data_size):
    if i + train_data_size > num_rows:
        break
    open('./data1/train_X_' + str(filename) + '.csv', 'w+').writelines(X[i:i+train_data_size])
    open('./data1/train_y_' + str(filename) + '.csv', 'w+').writelines(y[i:i+train_data_size])
    filename += 1

In [14]:
filename = 0
train_data_size=(num_rows-test_data_size-1)//5
for i in range(test_data_size+1, num_rows, train_data_size):
    if i + train_data_size > num_rows:
        break
    open('./data2/train_X_' + str(filename) + '.csv', 'w+').writelines(X[i:i+train_data_size])
    open('./data2/train_y_' + str(filename) + '.csv', 'w+').writelines(y[i:i+train_data_size])
    filename += 1